index:
    div()

    h1 {{game}}
    h1 {{game.started}}
        if !#root._page.game.started
            if #root._page.game.players[#root._session.userId]
                span(class="btn btn-warning") Waiting for other players
            else
                span(class="btn btn-primary", on-click="connectToGame()") Connect

            if #root._page.players.ready
                div(on-click="startGame()")
                    span(class="btn btn-primary") Start Game


    if game.started
        h1 Level: {{#root._page.game.currentLevel}}
        if game.answers[_page.game.level][_session.userId] === undefined
            div(class="form-group")
                input(type="text", class="form-control", value="{{ #root._page.answer}}")
            div(class="form-group")
                inpun(type="submit", class="btn btn-primary"  on-click="addAnswer()") Save Answer

    table(class="table", role="table")
        if game.players
            each Object.keys(game.players) as #uid
                tr
                    each game.levels as #level
                            td {{#level.answers[#uid]}}