index:
    div(class="col-md-6")
        div(class="panel panel-primary")
            div(class="panel-heading")
                h3(class="panel-title") New Game

            div(class="panel-body")
                    div(class="form-group")
                        input(type="text", name="name", value="{{#root._page.newGameName}}", class="form-control", required=true)
                    div(class="form-group")
                        input(type="button", on-click="addGame()", value="Create new game", class="btn btn-primary")

        div(class="list-group")
            a(class="list-group-item active")
                h3(class="panel-title") All Games
            each #root._page.games as #game
                div(class="list-group-item")
                    div(class="form-inline")
                        a(href='/game/{{#game.id}}', class="form-control btn btn-primary") Connect to {{#game.name}}
                        if #game.createdBy == #root._session.userId
                            input(type="button", on-click="removeGame(#game.id)" value="Remove",class=" form-control btn btn-danger")