index:
    div
        if _page.game.started
            h1 Level {{_page.game.level}}
            h1 {{_page.game.answers[_page.game.level][_session.userId]}} sdaddew
            if _page.game.answers[_page.game.level][_session.userId] === undefined
                div(class="form-group")
                    input(type="text", class="form-control", value="{{ _page.answer}}")
                div(class="form-group")
                    input(type="submit", class="btn btn-primary"  on-click="addAnswer()") Save Answer
            else
                h3 "Waiting answers from other users"
        else
            h1 {{_page.game.playersCount}}

            div(on-click="startGame()" )
                if _page.game.players[_session.userId]
                    span(class="btn btn-warning") Waiting for other players
                else
                    span(class="btn btn-primary") Connect

        table(role="table", class="table")
            each Object.keys(#root._page.game.players) as #index
                    td {{ #index }}
