index:
    div(class="col-md-12")
        div(class="col-md-6")
            p Player's name:
            form(on-submit='saveUserName()')
                input(type='text', value='{{#root._page.userName}}')
                button(type='submit') Save

        view(name="gameList")
