import:(src="./home")
import:(src="./game")

Title:
  | {{_page.title}}

Body:
  view(is="header")
  view(is="{{$render.ns}}")
  view(is="footer", year="2014")

header:
  nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") game
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(href="/") Home
          li
            a(href="#about") About
          li
            a(href="#contact") Contact

footer:
  div.container
    hr
    footer
      p Footer {{@year}}
